body{
    font-family: sans-serif;
    
}

#hello-section {
  background: red;
}
#feedback-section h1 {
  background: pink;
  font-family: inherit;
}
/* h1 {
  color: black;
  font-family: "Anton", sans-serif;
} */
.section-heading
{
    color: black;
    font-family: "Anton", sans-serif;
}